*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/.sbtserver
project/.sbtserver.lock
project/sbt-ui.sbt

# Activator specific
activator*

# Hide Sensitive Info
src/main/resources/application.conf
